<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>World Alcohol Report</title>
        <link rel="icon"href="{% static 'assets/img/favicon.ico' %}">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">EDA Project</a>
            <!-- Side Button-->
            <a id="iconLeftBtn" class="navbar-brand ps-3" href="https://github.com/Ryujiho/django-eda-project"><i class="fab fa-github"></i></a>
            <a id="iconRightBtn" class="navbar-brand ps-3" href="https://www.kaggle.com/sansuthi/alcohol-consumption"><i class="fas fa-database"></i></a>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                EDA
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a href="/step1" class="nav-link collapsed" >
                                        Step 1.
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <a href="/step2" class="nav-link collapsed">
                                        Step 2.
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <a href="/step3" class="nav-link collapsed">
                                        Step 3.
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Views</div>
                            <a class="nav-link" href="/charts">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="/tables">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>

                    <div  id="steppage" class="container-fluid px-4">
                        <h1 class="mt-4">Step 2. 가설 수립하기 </h1>

                        <br>
                    <h3>상관관계 분석</h3>
                    <div>
                        {% autoescape off %}
                        {{ plot_corr }}
                        {% endautoescape %}

                        <ul>
                            <li>1에 가까울 수록 관계가 깊고, 0에 가까울 수록 관계가 적다.</li>
                            <li>상관계수가 +0.3과 +0.7 사이에 있으면 뚜렷한 양적 선형관계를 가진다.</li>
                        </ul>
                    </div>
                    <br>
                    <br>
                    
                    <h3>가설 수립</h3>
                    <ol>
                        <li> <b>Alcohol Consumption</b>
                            <ul>
                                <li>Income per person: 0.30 -> <b>경제적으로 잘 사는 국가일수록, 알코올 소비가 높을 것이다.</b></li>                       
                                <li>Suicide Rate: 0.35 -> <b>자살률이 높은 국가일수록, 알코올 소비가 높을 것이다.</b></li>
                            </ul>
                        </li>
                        <li> <b>Income per person</b>
                            <ul><li>Urban Rate: 0.49 -> <b>경제적으로 잘 사는 국가일수록, 도시에 거주하는 사람들이 더 많을 것이다.</b></li>
                            </ul>
                        </li>
                        <li> <b>Employ Rate</b>
                            <ul><li>상관관계가 전부 0에 가깝다. -> <b>고용률은 국가 경제, 알코올 소비량, 도시화율, 자살률에 영향을 받지 않을 것이다.</b></li>
                            </ul>
                        </li>
                    </ol>
                    
                    <br>
                    <br>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Jiho, yoo 2022</div>
                            <div class="text-muted">Designed by <a href="https://startbootstrap.com/previews/sb-admin">bootstrap</a></div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
    </body>
</html>