<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>World Alcohol Report</title>
        <link rel="icon"href="{% static 'assets/img/favicon.ico' %}">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">EDA Project</a>
            <!-- Side Button-->
            <a id="iconLeftBtn" class="navbar-brand ps-3" href="https://github.com/Ryujiho/django-eda-project"><i class="fab fa-github"></i></a>
            <a id="iconRightBtn" class="navbar-brand ps-3" href="https://www.kaggle.com/sansuthi/alcohol-consumption"><i class="fas fa-database"></i></a>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                EDA
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a href="/step1" class="nav-link collapsed" >
                                        Step 1.
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <a href="/step2" class="nav-link collapsed">
                                        Step 2.
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <a href="/step3" class="nav-link collapsed">
                                        Step 3.
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Views</div>
                            <a class="nav-link" href="/charts">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="/tables">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
             <main>

                <div id="steppage" class="container-fluid px-4">
                    <h1 class="mt-4">1. Data 살펴보기</h1>
                    <br>
        <h3>데이터 개별 속성 파악</h3> 
        <ol>
            <li>
                <b>country</b>: 국가명
            </li>
            <li>
                <b>incomeperperson</b>: 인당 GDP
                <ul><li>
                    Gross Domestic Product per capita in constant 2000 US$. The inflation but not the differences in the cost of living between countries has been taken into account.      
                </li></ul>
            </li>
            <li>
                <b>alcconsumption</b>: 알코올 소비율
                <ul><li>
                    Alcohol consumption per adult (age 15+), litres Recorded and estimated average alcohol consumption, adult (15+) per capita consumption in litres pure alcohol         
                </li></ul>
            </li>
            <li>
                <b>suicideper100TH</b>: 자살률
                <ul><li>
                    Suicide, age adjusted, per 100 000 Mortality due to self-inflicted injury, per 100 000 standard population, age adjusted
                </li></ul>
            </li>
            <li>
                <b>employrate</b>: 고용률
                <ul><li>
                    Total employees age 15+ (% of population) Percentage of total population, age above 15, that has been employed during the given year.
                </li></ul>
            </li>
            <li>
                <b>urbanrate</b>: 도시 거주 비율
                <ul><li>
                    Urban population (% of total) Urban population refers to people living in urban areas as defined by national statistical offices (calculated using World Bank population estimates and urban ratios from the United Nations World Urbanization Prospects)
                </li></ul>
            </li>
        </ol>
        <br>
        <h3>전처리 작업</h3> 
        <ol>
            <li>country 정보를 사용하여 새로운 column 생성: 대륙

                <ul>
                    <li>
                        continents.csv 활용 <a href="https://www.kaggle.com/andradaolteanu/country-mapping-iso-continent-region"><b>데이터셋 링크</b></a>
                    </li>                       
                    <li>
                        'Europe', 'Africa', 'Americas', 'Asia', 'Oceania'로 구분
                    </li>
                </ul>
                
            </li>
            <li> 결측치 처리(NaN)
                    <ul>
                        <li>
                            전체 요소에서 50개 존재 -> 다른 열은 값이 존재하는 경우도 있어 일단 냅둡니다.
                        </li>
                        <li>
                            ontinent column은 20행 정도 있어 수작업으로 채워줍니다. (Google maps)
                        </li>
                    </ul>
            </li>
        </ol>
        <br>

        <h4>데이터 타입 </h4> 
        <table>
            <tr>
                <td>country</td>
                <td>string</td>
            </tr>
            <tr>
                <td>alcconsumption</td>
                <td>float64</td>
            </tr>
            <tr>
                <td>incomeperperson</td>
                <td>float64<float64/td>
            </tr>
            <tr>
                <td>suicideper100th</td>
                <td>float64</td>
            </tr>
            <tr>
                <td>employrate</td>
                <td>float64</td>
            </tr>
            <tr>
                <td>urbanrate</td>
                <td>float64</td>
            </tr>
            <tr>
                <td>continent</td>
                <td>string</td>
            </tr>
        </table>
        <br>
        <br>
        
        <h4>데이터 생성 날짜 </h4> 
        <p> 2021.06</p>
        <br>

        <h4>데이터 사이즈 </h4> 
        <p>
        213 rows (국가 기준)
        </p>

        <br>
        <br>

        </div></main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Jiho, yoo 2022</div>
                            <div class="text-muted">Designed by <a href="https://startbootstrap.com/previews/sb-admin">bootstrap</a></div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
    </body>
</html>