<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Eda Project</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/eda.css' %}"/>
    </head>
    <body>
         
    1. 변수 
    country: 국가명
    incomeperperson: 국가당 GDP
    Gross Domestic Product per capita in constant 2000 US$. The inflation but not the differences in the cost of living between countries has been taken into account.
    alcconsumption: 알코올 소비율
        Alcohol consumption per adult (age 15+), litres Recorded and estimated average alcohol consumption, adult (15+) per capita consumption in litres pure alcohol
    suicideper100TH: 자살률
        Suicide, age adjusted, per 100 000 Mortality due to self-inflicted injury, per 100 000 standard population, age adjusted
    employrate: 고용률
        Total employees age 15+ (% of population) Percentage of total population, age above 15, that has been employed during the given year.
    urbanrate: 시골 거주 인구
    Urban population (% of total) Urban population refers to people living in urban areas as defined by national statistical offices (calculated using World Bank population estimates and urban ratios from the United Nations World Urbanization Prospects)


    </body>
</html>